@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #e5eff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_elements {
  width: 85%;
  min-height: 30vh;
  margin: 10% auto;
  -webkit-box-shadow: -1px 5px 23px -6px rgba(0, 0, 0, 0.233);
          box-shadow: -1px 5px 23px -6px rgba(0, 0, 0, 0.233);
  background-color: white;
      grid-template-areas: "header" "details" "contact";
  -ms-grid-columns: none;
      grid-template-columns: none;
  -ms-grid-rows: none;
      grid-template-rows: none;
  border-radius: 10px;
}

.index_join {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: white;
  padding: 8%;
  border-radius: 10px 10px 0 0;
}

.index_join_title {
  color: #2ab2af;
  font-size: 1.5rem;
}

.index_join_subtitle {
  padding-top: 5%;
  color: #c0df34;
  font-size: 1.1rem;
}

.index_join_text {
  padding-top: 5%;
  color: #98a6bd;
  line-height: 2rem;
}

.index_month {
  padding: 8%;
  background-color: #2ab2af;
}

.index_month_title {
  color: white;
  font-size: 1.2rem;
}

.index_month_price {
  padding-top: 6%;
  padding-bottom: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index_month_price_total {
  color: white;
  font-size: 2.5rem;
  padding-right: 5%;
  font-weight: bold;
}

.index_month_price_text {
  color: #45d4d2;
}

.index_month_text {
  color: white;
  padding-bottom: 12%;
}

.index_month_button {
  background-color: #c0df34;
  border-radius: 5px;
  text-decoration: none;
  -webkit-box-shadow: -1px 5px 23px -6px rgba(0, 0, 0, 0.233);
          box-shadow: -1px 5px 23px -6px rgba(0, 0, 0, 0.233);
  width: 95%;
  padding: 6% 3%;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.index_whyus {
  padding: 8%;
  background-color: #3bb9b7;
  color: white;
  border-radius: 0 0 10px 10px;
}

.index_whyus_title {
  font-size: 1.2rem;
  padding-bottom: 5%;
}

.index_whyus_ul {
  list-style: none;
  line-height: 1.3rem;
}

.index_whyus_li {
  color: rgba(255, 255, 255, 0.685);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #98a6bd;
}

.attribution a {
  color: #2ab2af;
}

@media screen and (min-width: 650px) {
  .container_elements {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
    -ms-grid-columns: 0.5fr 0.5fr;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-areas: "header header" "details contact";
    width: 60vw;
  }
  .index_join {
    padding: 5.8%;
  }
  .index_join_title {
    font-size: 1.5rem;
  }
  .index_join_subtitle {
    padding-top: 4%;
    font-size: 1.1rem;
  }
  .index_join_text {
    padding-top: 1%;
    line-height: 1.7rem;
  }
  .index_month {
    padding: 12%;
    border-radius: 0 0 0 10px;
  }
  .index_whyus {
    padding: 12%;
    border-radius: 0 0 10px 0;
  }
}

@media screen and (min-width: 1000px) {
  .container_elements {
    max-width: 635px;
  }
}
/*# sourceMappingURL=styles.css.map */